---
layout: default
---

<div class="post">


  <article>
    {% if page.profile %}
    <div class="profile float-{% if page.profile.align == 'left' %}left{% else %}right{% endif %}">
      {% if page.profile.image %}
        <img class="img-fluid" style="float: left; padding: 0px 50px 30px 50px;" src="{{ page.profile.image | prepend: '/assets/img/' | relative_url }}">
      {% endif %}
      {% if page.profile.address %}
        <div class="address">
          {{ page.profile.address }}
        </div>
      {% endif %}
    </div>
    {% endif %}


    <div class="clearfix">
      {{ content }}
      {% if page.news %}
        {% include news.html %}
      {% endif %}
      {% if page.selected_papers %}
          {% include selected_papers.html %}
      {% endif %}
    </div>




    {% if page.social %}
    <div class="social">
      <div class="contact-icons">
        {% include social.html %}
      </div>
      <div class="contact-note">{{ site.contact_note }}</div>
    </div>
    {% endif %}
  </article>

</div>
